.main__hombre{
    padding-bottom: 100px;

    .main__section--hombre{
        height: 700px;
        width: 1580px; 
       
      
       background-image: url(https://i.ibb.co/xGF2Q1P/baner1hombre.png) ;
        
       background-size: cover ;
       background-position: center;
    
       
       .baner__text--container{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: 90px;
        padding-left: 50px;
        flex-direction: column;
        @extend %banertext;
        color: whitesmoke;
        

        .baner__text--inferior{
            width: 100%;
            display: flex;
    
        }

        .baner__buton--inferior{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-top: 25px;

            .baner__buton{
                width: 120px;
                height: 50px;
                border-radius: 5rem;

            }
        }

       }

        
    }

    .hombre__section--compra{

        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    
        margin-left: 35px ;
        margin-top: 50px;
    
    
        .mens__texto{
            color: #839192; 
            font-size: 20px;
            font-weight: 500;
        
            margin: 0px;
            
        }

    }

    .hombres__section--produtos{
        display: grid;
    
        grid-template-columns: repeat(5, 280px);
        grid-template-rows: 480px ;
    
      
    
        gap: 20px;
    
        
    
        
        margin: 15px 35px;

        .hombres__griddcontainer{
            display: grid;
            margin-bottom: 0px;
          
            position: relative;

           

            .hombres__productos{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative
                


            }
            .main__pheader--container2{
                
                position: absolute; 
                width: 100%;
                height: 100%;
           
             .main__product--header2{

                position: absolute  ; top: 0px;

               
                
                width: 100%;
                
                .main__producto--regalo{
                    width: 40px;
                    height: 40px;
                    display: flex ;

                    border-radius: 50%;
                    margin: 5px;
                    position: relative;
                    justify-content: center;
                    align-items: center;

                    .regalo{
                        width: 380%;
                       object-fit: cover;
                      
                      
                       
                        
                    }
                }:focus{
                    background-color: gray;
                }
                }

             }
            .main__interactive--animation2{
            
           
            width: 95%;
            height: 25%;
            margin: 7px; 
            position: absolute  ; bottom: 0px;
           display: none;
           
           
               
          
           .main__producto--interactive2{ 
            
            
            font-family: 'Montserrat', sans-serif;
            
            
            border-radius: 5%;
            width: 100%;
            
            height: 100%;
            @extend %flexcenter; 
            flex-direction: column;
            background-color: rgba( rgb(255, 253, 253), 0.75);
            
           
            .main__interactive--text{
                font-weight: 600 ;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;

        
            }

            .main__producto--agregar{
                
                @extend %flexcenter; 
                width: 100%;
            }
            
            .main__producto--button{
                border: #839192 solid 1px ;
                width: 20%;
                color: black;
                font-weight: 400;
                margin: 5px;
            }

           }  }:hover + .main__interactive--animation2{
              display: inline-block;
             animation-name:pull2 ;
             animation-duration: 1s;
             animation-fill-mode: forwards;
             animation-iteration-count: 1;
             
            
           
            @keyframes pull2 {
                0%{
                    transform: translateY(55px) ;
                  
                }
                100%{
                    transform: translateY(-100px);
                    
                   
                }
            }
           }
        
       
           .main__producto--info{
            border-left: black solid 5px;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 5px;

            .span__new{
                margin-left: 5px;
            }

            .span__valor{
                font-weight: 500;
                font-size: 20px;
                margin-right: 5px;
            }
           }
            
           .main__producto--nombre{
            width: 100%;
           margin-top: 5px;
            font-family:'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 500;
            

           }

        } .hombres__griddcontainer:hover{
            border: black solid 1px;
             }

    
        .hombres__griddcontainer{
            display: grid;
            margin-bottom: 0px;
          
            position: relative;

           

            .hombres__productos{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative
                


            }
            .main__pheader--container{
                
                position: absolute; 
                width: 100%;
                height: 100%;
           
             .main__product--header{

                position: absolute  ; top: 0px;

               
                
                width: 100%;
                
                .main__producto--regalo{
                    width: 40px;
                    height: 40px;
                    display: flex ;

                    border-radius: 50%;
                    margin: 5px;
                    position: relative;
                    justify-content: center;
                    align-items: center;

                    .regalo{
                        width: 380%;
                       object-fit: cover;
                      
                      
                       
                        
                    }
                }:focus{
                    background-color: gray;
                }
                }

             }
            .main__interactive--animation{
            
           
            width: 95%;
            height: 25%;
            margin: 7px; 
            position: absolute  ; bottom: 0px;
           display: none;
           
           
               
          
           .main__producto--interactive{ 
            
            
            font-family: 'Montserrat', sans-serif;
            
            
            border-radius: 5%;
            width: 100%;
            
            height: 100%;
            @extend %flexcenter; 
            flex-direction: column;
            background-color: rgba( rgb(255, 253, 253), 0.75);
            
           
            .main__interactive--text{
                font-weight: 600 ;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;

        
            }

            .main__producto--agregar{
                
                @extend %flexcenter; 
                width: 100%;
            }
            
            .main__producto--button{
                border: #839192 solid 1px ;
                width: 20%;
                color: black;
                font-weight: 400;
                margin: 5px;
            }

           }  }:hover + .main__interactive--animation{
              display: inline-block;
             animation-name:pull ;
             animation-duration: 1s;
             animation-fill-mode: forwards;
             animation-iteration-count: 1;
             
            
           
            @keyframes pull {
                0%{
                    transform: translateY(55px) ;
                  
                }
                100%{
                    transform: translateY(-70px);
                    
                   
                }
            }
           }
        
       
           .main__producto--info{
            border-left: black solid 5px;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 5px;

            .span__new{
                margin-left: 5px;
            }

            .span__valor{
                font-weight: 500;
                font-size: 20px;
                margin-right: 5px;
            }
           }
            
           .main__producto--nombre{
            width: 100%;
           margin-top: 5px;
            font-family:'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 500;
            

           }

        } .hombres__griddcontainer:hover{
            border: black solid 1px;
             }

        

    }
      

    .section__hombre--baner2{
    height: 700px;
    width: 1580px; 

    
  
    background-image: url(https://i.ibb.co/vj7F7dK/banerfootbal.png) ;
     
    background-size: cover ;
    background-position: center;

    margin: 100px  0px;

    display: flex;
   
    align-items: center;
    
    .section__baner2--title{
        width: 80%;
        height: 60%;
        font-size: 100px;
        display: flex;
        padding-left: 100px;
        flex-direction: column;
        @extend %banertext;
        color: white;
        
        


        .baner__buton--inferior{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            padding-top: 25px;
    
            .baner__buton{
                width: 120px;
                height: 50px;
                border-radius: 5rem;
    
            }
        }
    }

 

 
    }

    .section__hombre--baner3{

        height: 700px;
        width: 1580px; 
    
        background-image: url(https://i.ibb.co/xhSzBbb/banerstreetwear.png) ;
         
        background-size: cover ;
        background-position: center;
    
        margin: 100px 0px ;
        display: flex;
        justify-content: center;
        align-items: flex-end;

       .baner__text--container{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        flex-direction: column;
        @extend %banertext;
        color: whitesmoke;

        .baner__text--inferior{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .baner__buton--inferior{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 20px;

            .baner__buton{
                width: 120px;
                height: 50px;
                border-radius: 5rem;

            }
        }

       }
    }
}
