.main__box--contacto{
    background-color: rgb(232, 239, 241) ;
    max-width: 100%;
    max-height: 100%;
    padding-top: 110px;

    .box__contacto--usuario{
        border-bottom: solid 1px gray;
        .main__usuario{
            
            width: 100%;
            height: 750px;
        
            display: flex;
        

            .big__container{
                width: 60%;
                height: 700px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            .img__container--box{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 300px;
                height: 150px;
            
            
                .img__usuario{
                    width: 160%;
                    height: 130%;
                    object-fit: cover;
                    position: absolute;
                    top: 0px;
                }
            }
            .big__container--info{
                width: 550px;
                height: 200px;
            
                font-family:'Oswald', sans-serif;
                font-weight: 500;
                font-size: 30px;
            }
            }

            .usuario__registro{
                display: flex;
                flex-direction: column;
                border: solid 1px grey;
                border-radius: 5%;
                width: 20%;
                height: 80%;
                padding: 10px;
                background-color: whitesmoke;
                padding-bottom: 50px;
                margin: 30px 10px;

                input{
                    border-radius: 6px;
                    padding: 5px;
                    
                    
                }
                
                .registro__box1{
                    margin: 10px;
                    
                    display: flex;
                    flex-direction: column;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bolder;
                    

                    .box__label{
                        margin-bottom: 5px;
                    

                    }
                }

                .registro__box2{
                    display: flex;
                    
                    align-items: flex-start;
                    flex-direction: column;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    .container__radio{
                        display: flex;
                        flex-direction: row;
                        margin: 10px;
                        margin-left: 0px;
                
                .radio{
                    margin: 5px;
                }

                    }
                
                }
            }

        }
    }
        .main__usuario--ubicacion{
            width: 100%;
            height: 500px;
        
            display: flex;
            flex-direction: row;
            margin-top: 100px;

            .big__container--nav{
                
                width: 60%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .container__mapa--img{
                    width: 550px;
                    height: 100px;
                    position: relative;

                    margin-bottom: 20px;

                    .mapa--img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                    }
                }
                .container__ubicacion{
                    color: black;
                    
                    width: 550px;
                    height: 150px;
                    font-family:'Oswald', sans-serif;
                    font-weight: 500;
                    font-size: 30px;
                }
            }

            .main__usuario--mapa{
                width: 50%;
                
                display: flex;
                justify-content: center;
                align-items: center;

                .usuario--mapa{
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 5px whitesmoke solid;
                }
            }
        }

    

}